[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
	branch = master
[submodule "stmlib"]
	path = stmlib
	url = https://github.com/pichenettes/stmlib
[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy
[submodule "patch_sm/PlaitsPatchInit"]
	path = patch_sm/PlaitsPatchInit
	url = https://github.com/hemmer/PlaitsPatchInit
